@media only screen and (min-width: 60em) {

  a div .banner-img {
    transition: .2s linear;
  }

  figure {
    position: relative;
  }

  a figcaption {
    position: absolute;
    transform: translateX(-50%);
    top:50%;
    left: 50%;
    text-align: center;
    line-height: 1em;
    opacity: 0;
  }

/* Banner Hover*/

  a:hover div .banner-img {
    transform: scale(1.5); /* Scale up on hover */
    cursor: pointer; /* Add a pointer on hover */
  }

  a:hover figcaption {
    opacity: 100; /* Make text visible on hover */
  }
