<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Oswald:200&display=swap" rel="stylesheet">
</head>
<body>
  {% pattern navigation/top-nav %}
  <main>
    {{content}}
  </main>
  {% pattern navigation/footer-nav %}
</body>
</html>
