.logo:hover #vest {
  fill: var(--color-secondary);
}

.logo:hover #letters{
  fill: var(--color-secondary-light);
}

nav ul li {
  font-family: var(--font-secondary);
}

a .logo-footer {
  fill: var(--color-primary);
}

a .logo-footer:hover {
  fill: var(--color-secondary);
}
