.banner-container {
  position: relative;
  min-height: 15em;
}

.alive-banner {
  background-image: url("/images/banners/alive-banner.jpg");
  background-size: cover;
  background-position: center right;
}

.banner-overlay {
  position: absolute;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 10em;
}

.transparent {
  opacity: .3;
}

.purple-hover {
  background-color: var(--color-alive-accent);
  background-size: cover;
}

/*Lightbox Footer*/

.alive-footer {
  background-image: url(/images/banners/alive-banner.jpg);
  background-size: cover;
  background-position: right center;
  min-height: 15em;
  width: 100%;
}

.lightbox-screen {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  transition: .2s linear;
}

  a:hover .lightbox-screen {
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
  }

  a:hover .lightbox-text-footer {
    color: var(--color-secondary-light);
    font-weight: bold;
  }

}

@media only screen and (min-width: 90em) {

  .banner-container {
    min-height: 20em;
  }

}
